# intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# generated at build time (inlined pdf.js worker)
src/pdf-worker-inline.ts

# Exclude macOS Finder (Desktop Services Store)
.DS_Store
test/out.cjs
